<h1 class="h1 text-bg-dark text-center mb-md-5">
    Tabla de Heroes
</h1>

<div class="container mt-xl-5">
    <div class="table-responsive">
       

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of listHeroes" class="table-active">
        <td>{{heroe.id}}</td>
        <td>{{heroe.name}}</td>
        <td><img class="img-fluid rounded" src={{heroe.image.url}} style=" height: 100px; width: 95px;"></td>
        <td><button class="btn btn-outline-primary">Ver mas</button></td>
      </tr>
    </tbody>
  </table>
  
  
    </div>
</div>
