body {
    display: flex;
    justify-content: center; /* Centro horizontalmente en la página */
    align-items: center;     /* Centro verticalmente en la página */
    height: 70vh;           /* Asegura que el contenedor cubra toda la altura de la pantalla */
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    text-align: center;
}

.registration-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}