<nav class="navbar navbar-expand-lg navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">SHG</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink="lista">Lista
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
          </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>
