<div #myModal class="modal modal-xl">
    <div class="modal-dialog" role="document">
        <app-spinner *ngIf="loading"></app-spinner>
        <div class="modal-content" *ngIf="!loading">
            <div class="modal-header" style="display: flex; align-items: center;">
                <img src="{{heroeActual.image.url}}" (error)="manejarImgError(heroeActual)" alt="Imagen del superhéroe" class="img-fluid rounded"
                    style="max-width: 100px;">
                <h2>{{heroeActual.name}}</h2>
                <p>{{heroeActual.biography["full-name"]}}</p>
            </div>

            <div class="modal-body">
                <h3>Estadisticas:</h3>
                <h5>Promedio Estadisticas {{estadisticasHeroe.promedio}}</h5>
                <p>Combate: {{estadisticasHeroe.combatValue}}</p>
                <p>Durabilidad: {{estadisticasHeroe.durabilityValue}}</p>
                <p>Inteligencia: {{estadisticasHeroe.intelligenceValue}}</p>
                <p>Poder: {{estadisticasHeroe.powerValue}}</p>
                <p>Velocidad: {{estadisticasHeroe.speedValue}}</p>
                <p>Fuerza: {{estadisticasHeroe.strengthValue}}</p>
                <br>
                <h5>Editorial: {{heroeActual.biography.publisher}}</h5>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-dark" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>