<app-modal-details [id]="idHeroeActual" *ngIf="modal" (modalClosed)="modal = false"></app-modal-details>

<div class="container-xxl">
    <div class="row">
        <div class="col">
            <app-card-ruleta *ngIf="this.Heroe1" [heroeJugador]="true" [heroe]="Heroe1" [estadisticas]="estadisticasHeroe1" [isSpinning]="isSpinning" (eliminarHeroeEvent)="eliminarCard('Heroe1')"></app-card-ruleta>
        </div>

        <div class="col-6">
            <div class="d-flex justify-content-center align-items-center flex-column mb-5">
                <canvas #canvas width="500" height="500"></canvas>
                <button class="btn btn-outline-primary" type="button" (click)="spin()"
                    [disabled]="isSpinning">Girar</button>
            </div>
        </div>

        <div class="col">
            <app-card-ruleta *ngIf="this.Heroe2" [heroe]="Heroe2" [estadisticas]="estadisticasHeroe2" [isSpinning]="isSpinning" (eliminarHeroeEvent)="eliminarCard('Heroe2')"></app-card-ruleta>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <div class="container d-flex mb-5">
                        <input class="form-control me-sm-2" type="search" placeholder="Buscar héroe o palabra clave"
                            [(ngModel)]="searchHeroForSecondTable">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="button"
                            (click)="searchHeroBtnForSecondTable()">Buscar</button>
                    </div>
                    <div class="container d-flex justify-content-center btn-group">
                        <button class="btn btn-outline-primary" (click)="previousPageForSecondTable()"
                            [disabled]="currentPageForSecondTable === 1">Anterior</button>
                        <button class="btn btn-outline-primary" (click)="nextPageForSecondTable()"
                            [disabled]="currentPageForSecondTable * itemsPerPage >= equipos[0].heroes.length">Siguiente</button>
                    </div>
                </div>
            </div>

            <app-spinner *ngIf="loading"></app-spinner>
            <app-lista-heroes *ngIf="!loading" [heroes]="listHeroesForSecondTable"
                [acciones]="accionRuletaEquipo"></app-lista-heroes>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <div class="container d-flex mb-5">
                        <input class="form-control me-sm-2" type="search" placeholder="Buscar héroe o palabra clave"
                            [(ngModel)]="searchHero">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="button"
                            (click)="searchHeroBtn()">Buscar</button>
                    </div>
                    <div class="container d-flex justify-content-center btn-group">
                        <button class="btn btn-outline-primary" (click)="previousPage()"
                            [disabled]="currentPage === 1">Anterior</button>
                        <button class="btn btn-outline-primary" (click)="nextPage()"
                            [disabled]="currentPage * itemsPerPage >= allHeroes.length">Siguiente</button>
                    </div>
                </div>
            </div>

            <app-spinner *ngIf="loading"></app-spinner>
            <app-lista-heroes *ngIf="!loading" [heroes]="listHeroes" [acciones]="accionRuletaLista"></app-lista-heroes>
        </div>
    </div>
</div>