.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-input {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
}

.password-toggle { 
    position: absolute;
    right: 5%;
}

.error-container {
    width: 100%;
}

.error-container span {
    display: block;
}

