<app-spinner *ngIf="loading && peleas.length !== 0"></app-spinner>

<div *ngIf="!loading && peleas.length === 0">
  <h3 class="text-center mt-5">No tenes Peleas Realizadas, Dirigete a la ruleta para comenzar!!</h3>
</div>
<div class="container mt-xl-5" *ngIf="!loading && peleas.length !== 0">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Heroe aliado</th>
          <th scope="col">Heroe enemigo</th>
          <th scope="col">Ganador</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelea of peleas; let i = index">
          <td>
            <img class="img-fluid rounded me-3" [src]="detallesHeroes[i]?.heroe1?.image?.url">
            <span>{{ detallesHeroes[i]?.heroe1?.name }}</span>
          </td>
          <td>
            <img class="img-fluid rounded me-3" [src]="detallesHeroes[i]?.heroe2?.image?.url">
            <span>{{ detallesHeroes[i]?.heroe2?.name }}</span>
          </td>
          <td>
            <img class="img-fluid rounded me-3" [src]="detallesHeroes[i]?.ganador?.image?.url" alt="Imagen del ganador">
            <span>{{ detallesHeroes[i]?.ganador?.name }}</span>
          </td>
          <td>{{ pelea.fechaPelea }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>