<div class="recoverpassword">
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <h2>Recuperar contraseña</h2>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="email" name="email">
                <label for="email">Ingrese el Correo Electrónico</label>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary">
                    <span *ngIf="!loading">Enviar</span>
                    <app-spinner *ngIf="loading" [showMargin]="false"></app-spinner>
                </button>
            </div>

            <p class="mt-3">
                Volver al <a routerLink="/login">inicio de sesión</a>
            </p>
        </form>
    </div>
</div>